<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="{{url_for('static', filename='jquery-3.6.1.js')}}"></script>
        <script src="{{url_for('static', filename='bootstrap.min.js')}}"></script>
        <script src="{{url_for('static', filename='hello.js')}}"></script>
        <link rel="stylesheet" href="static/bootstrap.min.css">
        <link rel="stylesheet" href="static/index.css">
    </head>
    <body>
        <div class="container">
            <div class="jumbotron text-center title mt-3">
                <h1 class="m-3">Open Source Applications</h1>
                <p>This python script tests if the email belongs to a disposable domain or not.</p>
            </div>
            <div class="container w-75">
              <p class="p-3" style="color: black">
                Domain found. This domain is a disposable domain.
                <b>{{data}}</b>
              </p>
              <a href="{{url_for('index')}}"><button class="btn button">Home</button></a>
            </div>
        </div>
    </body>
</html>
